<html>

<body>

    <h1>{{startup.name}}</h1>


    {% for founder in founders %}

    <div>
        <ul>
            <li>
                <a href="{{url_for('edit_founder',founder_id = founder.id)}}">{{founder.name}}</a> <br>
                {{founder.bio}}
                <br>
                <a href="{{url_for('edit_founder',founder_id = founder.id)}}">Edit</a>
                <a href="{{url_for('delete_founder', founder_id = founder.id)}}">
                    Delete</a>
            </li>
        </ul>

    </div>
    {% endfor %}
    <a href="{{url_for('new_founder',startup_id=startup.id)}}"><button>Add</button></a>
</body>

</html>